# ==========================================
# Java & Maven
# ==========================================
target/
*.class
*.jar
*.war
*.ear
*.nar
dependency-reduced-pom.xml

# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iml
*.iws
*.ipr
out/

# ==========================================
# Mac / Windows system files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logs & Databases
# ==========================================
*.log
# 如果你的 db 目录下有本地生成的临时数据文件，可以在这里忽略，比如：
# db/*.rdb